body {
    background-color: #F0FFF1;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header { 
    background-color: #B3E9C7;
}

#title {
    margin-top: 0px;
}

nav {
    a {
        text-align: center;
        width: 33%;
        text-decoration: none;
        color: #000000;
        &:hover {
            background-color: #8367C7;
            color: #F0FFF1;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (min-width: 1000px) {
        justify-content: flex-end;
    }
}

#project-wrapper {
    display: block;
    @media screen and (min-width: 750px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* repeat(auto-fit, minmax(200px, 1fr) */
    }
    
}

.card-link {
    text-decoration: none;
    color: #000000;
}
.card {

    border: 1px solid grey;
    padding: .5em;
    margin: 1em;
    img {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: 750px) {
        justify-self: center;
        img {
            height: 100%;
            width: 100%;
        }
    }
    h3 {
    }
    img {
        
    }
}

#techs-used {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 40px));
}

.tech-icon {
    height: 30px;
    width: 30px;
}